<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Binary Spark Tech</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();

                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    var csrftoken = getToken('csrftoken');

    function getCookie(name) {
        var cookieArr = document.cookie.split(";");

        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            if(name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }

        return null;
    }

    var cart = JSON.parse(getCookie('cart'));
    if(cart == undefined){
        cart = {}
        console.log('Cart created!')
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }

    console.log('Cart:', cart)
    </script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="{% url 'store' %}">Binary Spark Tech</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	 
	    </ul>
	    <div class="form-inline my-2 my-lg-0">
          {% if not request.user.is_authenticated %}
          <a href="{% url 'login' %}" class="btn btn-warning login">LOGIN</a>
          <a href="{% url 'register' %}" class="btn btn-warning register">REGISTER</a>
          {% else %}
            {% block account %}

            <a class="hello-msg" href="{% url 'account' %}">
                <strong><i class="fas fa-user"></i></strong>
            </a>
            <style>
    /* Style the FontAwesome user icon */
           .hello-msg .fas.fa-user {
            font-size: 1.4em; /* Adjust the font-size as needed */
           }
           </style>
            
        </a>
        {% endblock account %}
        
          {% endif %}
	     	
	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>

	    </div>
	  </div>
	</nav>

     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>

    {% block footer %}

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Binary Spark<span>Tech</span></h3>

            <p class="footer-links">
                <a href="{% url 'store' %}">Products</a>
                |
                <a href="{% url 'cart' %}">Cart</a>
                |
                <a href="{% url 'checkout' %}">Checkout</a>
                |
            </p>
            <h3>Social Media</h3>

            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/Rono91009749"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>

            <br>

            <p class="footer-company-name">Copyright © 2024 <strong>Binary Spark Tech</strong> All rights reserved.</p>
        </div>

        <div class="footer-center">
            <h3>Contact Us</h3>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Nairobi</span>
                    Kenya</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+254 702 514 526</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="https://mail.google.com/mail/?view=cm&fs=1&to=binarysparktech77@gmail.com&su=Subject%20Here&body=Email%20body%20here">Email Us</a></p>
            </div>
            <!-- WhatsApp Redirect Link with Icon -->
            <a class="whatsapp-link" href="https://wa.me/254702514526?text=Hello%20Binary%20Spark%20Tech" target="_blank">
            <i class="fab fa-whatsapp"></i> WhatsApp Us
            </a>
            <style>
                .whatsapp-link {
                    display: flex;
                    align-items: center;
                    color: #25D366; /* WhatsApp green */
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.1em; /* Adjust size as needed */
                }
                .whatsapp-link i {
                    margin-right: 0.5em; /* Add space between the icon and text */
                }
                /* Remove underline when hovering over the link */
               .whatsapp-link:hover {
                text-decoration: none;
                color: #25D366;
                }
            </style>
            

        </div>
        <div class="footer-right">
            <h3>About Us</h3>
            <p class="footer-company-about">
                At <strong>Binary Spark Tech</strong>, we're dedicated to enhancing your lifestyle with top-quality electronics. As a leading e-commerce electronics distributor, we offer a wide range of innovative products, from smart home devices to entertainment systems, designed to bring convenience and excitement to your everyday life.
                
                Elevate your security with our cutting-edge CCTV and alarm systems. We believe in providing you with peace of mind by offering the latest technology in surveillance and security solutions. Our expert team is committed to delivering exceptional service and reliable products you can trust.
                
                Join the Binary Spark Tech community today and experience the future of electronics shopping. Let us be your trusted partner in modernizing your home and keeping it secure.
            </p>
        </div>
    </footer>

    {% endblock footer %}


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>