{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}">
        </div>
        <div class="col-lg-6">
            <h2><strong>{{ product.name }}</strong></h2>
            <p>{{ product.description|safe }}</p>
            <h4><strong>Ksh. {{ product.price}}</strong></h4>
            <!-- Add additional images here -->
            <hr>
            <div class="additional-images">
                {% for additional_image in product.images.all %}
                    <img class="product-image additional-image" src="{{ additional_image.image.url }}" alt="{{ product.name }} Image">
                {% endfor %}
            </div>
            <a href="#" class="btn btn-outline-secondary add-btn update-cart" data-product="{{ product.id }}" data-action="add">Add to Cart</a>
        </div>
    </div>
    <br>
    <br>
    <hr>

    <!-- Related Products Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Related Products</h2>
            <div class="related-products">
                {% for related_product in related_products %}
                    <div class="related-product-item col-lg-3">
                        <div class="card">
                            <img src="{{ related_product.imageURL }}" class="card-img-top" alt="{{ related_product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ related_product.name }}</h5>
                                <p class="card-text">{{ related_product.price }}</p>
                                <a href="{% url 'product_detail' related_product.id %}" class="btn btn-primary">View Product</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>
    .btn {
        margin-top: 10px;
    }
    .additional-images {
        display: flex;
        margin-top: 20px;
        overflow-x: auto; /* Enable horizontal scrolling for additional images */
    }

    .product-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .additional-image {
        /* Add any additional styling specific to additional images */
        margin-right: 10px;
        max-width: 100%; /* Ensure images don't exceed container width */
        height: auto; /* Maintain aspect ratio */
    }

    /* Related Products Styling */
    .related-products {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .related-product-item {
        margin-bottom: 20px;
    }

    .card {
        width: 100%;
        margin: 10px;
    }
</style>
{% endblock content %}